/* main container */
.container {
    padding: 5rem 0;
    width: 1210px;
    max-width: 1210px;
    margin: 0 auto;
}

.game-board {
    width: 100%;
}

.cell {
    width: 4.84rem;
    height: 4.84rem;
    background: #111111;
}